<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RetryHelperAttempts" value="3" />
    <add key="RetryHelperDelay" value="10000" /> <!-- 10 seconds -->
  </appSettings>
</configuration>